endpointPage="/on/demandware.store/Sites-{site}-Site/{locale}/AEMPreview-Search"
endpointSearch="/on/demandware.store/Sites-{site}-Site/{locale}/AEMPreview-Page"
template="content/sitegenesis/templates/preview.vs"
site="SiteGenesis"
cache.time=I"60"
cache.enabled=B"true"
instance.id="us-sitegenesis"

