auth.access.token.request="https://%s/dw/oauth2/access_token"
auth.token.provider.demandware.client.id="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
auth.token.provider.demandware.client.password="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
auth.token.provider.client.id="DemandwareAuthorizationClient"
auth.token.provider.relaxed.ssl=B"false"
auth.token.provider.so.timeout=I"30000"
auth.token.provider.reuse.access.token=B"true"
auth.token.provider.conn.timeout=I"30000"
auth.token.provider.endpoint="account.demandware.com"
instance.id="sitegenesis"
