<script type="text/javascript" src="$link.static('/etc/clientlibs/sitecatalyst/tracking.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/granite/jquery.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/granite/utils.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/granite/jquery/granite.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/foundation/jquery.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/foundation/shared.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/granite/lodash/modern.js')"></script>
<script type="text/javascript" src="$link.static('/etc/clientlibs/foundation/personalization/kernel.js')"></script>
<div id="wrapper" class="pt_content">
    <sly data-sly-resource="header" />
    $html
    <sly data-sly-resource="footer" />
</div>