resourcetypes.supported=["commerce/demandware/components/page/page"]
resourcetypes.ignored=["commerce/demandware/components/page/page_template","commerce/demandware/components/page/preview"]
default.library="SiteGenesisSharedLibrary"
attributes.mapping=["jcr:title;name;i18n","pageTitle;page_title;i18n","jcr:description;description;i18n","dwreOnline;online;site","dwreSearchable;searchable;site"]
default.template="/content/sitegenesis/templates/contenttemplate"
api="/libraries/{library_id}/content/{id}"
